*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  height: 100vh;
  display: flex;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
ul{
  display: flex;
}
li{
  list-style-type: none;
}
ul li a{
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  padding: 0.4rem 1rem;
  margin: 0 11px;
  position: relative;
  transition: all 0.5s;
  text-transform: uppercase;
}
.list-items:before{
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  border: 3px solid white;
  border-width: 0 0 3px 3px;
  opacity: 0;
  transition: all 0.6s;
}
.list-items:hover:before{
  opacity: 1;
  bottom: -8px;
  left: -8px;
}
.list-items::after{
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  border: 3px solid white;
  border-width: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.6s;
}
.list-items:hover:after{
  opacity: 1;
  top: -8px;
  right: -8px;
}