@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* Google-font-family*/
/* font-family: "Lexend Deca", sans-serif; */
/* font-family: "Playfair", serif; */




body{
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container{
  text-align: center;
  margin: 0 auto;
}

h1{
  color: #fff;
  font-size: 4rem;
  /* Google-font-family*/
 font-family: "Playfair", serif;
}
p{
  color: #fff;
  max-width: 700px;
  font-family: sans-serif;
  letter-spacing: 2px;
  line-height: 22px;
  margin-bottom: 40px;
}
button{
  padding: 0;
  margin: 0;
  border: transparent;
  background: transparent;
  color: #fff;
  border: 2px solid white;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

/* JavaScript */
div.cursor{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: yellow;
  border-radius: 50%;
  text-transform: translate(-50%, -50%);
}