h1{
    font-size: 2rem;
    font-size: clamp(2rem, 0.718rem + 5.47vw, 4rem);

}


/* -- */
@media (width >= 4rem) {
    h1 {
        font-size: 2rem;
    }
}

@media (width >= 60em) {
    h1 {
        font-size: 4rem;
    }
}

/* -------------------- */
*{
   
margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --primary: #c8ff00;
  --light: #000000; 
  --text-dark: #302A24;
  --accent: #6440e7;
  --bg-transparent: transparent;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--text-dark);
    color: var(--light);
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 300;
    font-family: 'Open Sans', Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}
.nav-h2{
  font-weight: 400;
  background: linear-gradient(45deg, var(--text-dark), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--bg-transparent);

}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    text-align: center;
    padding: 2em;
}

.header h1{
  max-width: 100%;  
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: .2em;
  font-weight: 900;
  background: linear-gradient(-45deg, var(--accent), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header p {
  color: var(--light);  
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

.exBtn {
  display: inline-block;
  margin-top: 1em;   
  padding: 1em 2em;
  background: var(--light);
  color: var(--primary) !important;
  text-align: center;
  border-radius: 10em;
  text-decoration: none;
  font-weight: bold;
}

#bgImg {
  height: 300px;
  width: 300px;
  border-radius: 15em;
  object-fit: cover;
  border: 2px solid var(--light);
}

.buttons{
  height: 5rem;
  width: 10rem;
  padding: 10px 15px;
  font-size: 1rem;
  color: var(--light);
  background-color: var(--accent);
border-radius: 5px;
cursor: pointer;
transition: background-color 0.25s;
}
.buttons:hover{
  background-color: var(--text-dark);
}


/* navbar */ 

.nav-opt{
    padding: 0px;
    margin: 0px;
    top: 0;
    width: 100%;
    z-index: 100;
    color: var(--light);
    background-color: var(--accent);
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    
}
.nav-h2{
    color: var(--light);
    padding: 13px;
}
.nav-h2:hover{
    color: var(--primary);
}
ul li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}
ul li a{
    margin: 5px;
    color: var(--light);
    text-decoration: none;
    font-size: 18px;
    padding: 13px;
}
ul li a:hover{
    color: var(--primary);
}



/* -------about-------- */
#about{
    margin: 10px;
    padding: 45px 10px;
    display: flex;
    flex-direction: column;
    color: var(--light);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.about-col-1 img{
    width: 100%;
    margin: 4px;
    max-width: 300px;
    height: 400px;
    border-radius: 4rem;
    border: 2px solid var(--light);
    box-shadow: 1px 1px 7px var(--accent);
} 
.about-col-1{
    flex-basis: 35%;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 30px;
    font-weight: 600;
    color: var(--primary);
    margin: 10px 0;
    padding: 15px;
}
#about p{
    font-size: 17px;
}


.tab-titles{
    display: flex;
}
.tab-links{
    margin-right: 40px;
    position: relative;
}
.tab-links::after{
    content: '';
    height: 3px;
    background: var(--primary);
    position: absolute;
    display: block;
    border-top-left-radius: 0;
    bottom: -5px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 40%;
}
.tab-contents ul li{
    display: block;
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: var(--primary);

    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* -------------services------------ */
#services{
    padding: 45px 10px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-top: 50px;
}
.box{
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 300px;
    height: auto;
    background: var(--light);
    color: var(--text-dark);
    display: inline-block;
    margin: 17px;
    writing-mode: horizontal-tb;
    border: 2px solid var(--primary);
}
.text{
    font-size: 13px;
}
.box a{
    text-align: center;
    font-size: 15px;
    padding: 2px;
}

.services-list div a{
    text-decoration: none;
    color: var(--text-dark);
    font-size: 14px;
    margin: 20px;
    display: inline-block;
}
.services-list i{
    color: var(--text-dark);
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
}
.services-list h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}
.services-list .box{
    transition: 0.3s;
}
.services-list .box:hover{
    background: linear-gradient(to left, var(--primary), var(--accent));
    color: var(--light);
    transform: translateY(-10px);
}


/* --------portfolio-------- */
#portfolio{
    padding: 17px 10px;
    align-items: center;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-top: 50px;
}
.work{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;

}
.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    transition: transform 0.7s ease;
}

.work:hover img{
transform: scale(1.1);
}

.layer {
    opacity: 0;
    transition: 0.5s ease;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: var(--bg-transparent);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
}
.work:hover .layer{
    background: linear-gradient(to right, var(--bg-transparent), var(--primary));
    opacity: 1;
}
.layer h3{
    writing-mode: vertical-rl;
    transform-origin: center;
    font-weight: 400;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    color: var(--light);
    background: var(--primary);
    border: 2px solid var(--light);
    border-radius: 5px;
    
}
.layer p{
    text-align: center;
    margin: 1px;
    padding: 1px;
    font-size: 15px;
    color: var(--text-dark);
}
.layer p:hover{
    color: var(--light);
}

.layer a i{
    color: var(--text-dark);
    text-decoration: none;
    font-size: 18px;
    background: var(--accent);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid var(--light);
    padding: 14px 50px;
    border-radius: 7px;
    text-decoration: none;
    color: var(--light);
    background: var(--accent) ;
}
.btn:hover{
    background: var(--primary);
    color: var(--light);
}

/* ---------contact-------- */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;

}
.contact-left p{
    margin: 10px;
}
.contact-left p i{
    width: 30px;
    height: 30px;
    color: var(--accent);
    margin-right: 15px;
    font-size: 15px;
    transition: all 0.2s ease;
}
@keyframes vibrate {
    0%{ transform: translateX(0);}
    20%{ transform: translateX(-2px);}
    40%{ transform: translateX(2px);}
    60%{ transform: translateX(-2px);}
    80%{ transform: translateX(2px);}
    100%{ transform: translateX(0);}
}
.contact-left p i:hover{
    animation: vibrate 0.3s linear;
}

.social-icons a{
    text-decoration: none;
    font-size: 15px;
    margin: auto;
    color: var(--primary);
    border: 2px solid var(--light);
    border-radius: 35%;
    display: inline-block;
    transition: transform 0.5s;
    padding: 3px;
}
.contact{
    color: var(--light);
}
.social-icons{
    margin: 2rem 1rem;
}
.social-icons a:hover{
    color: var(--text-dark);
    background: var(--light);
    border-radius: 35%;
    transform: translateZ(-1px);
    border: 1.5px solid var(--accent);
    font-size: 17px;
    transition: 0.2s ease;
}

.contact-right form{
    width: 80%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--light);
    border: 1px solid var(--accent);
    padding: 10px 0;
    margin: 12px 0;
    color: var(--text-dark);
    font-size: 18px;
    border-radius: 5px;
}

.contact-right button{
    width: 4.5rem;
    color: var(--light);
    background: var(--accent);
    border: 2px solid var(--light);
    height: 30px;
    width: 100px;
    border-radius: 2px;
    font-size: 17px;
    text-decoration: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.contact-right button:hover{
    background: var(--primary);
    color: var(--light);
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: var(--light);
    color: var(--primary);
    font-weight: 300;
    margin: 0;
}
.copyright i{
    color: var(--primary);
}
.copyright i:hover{
    color: var(--accent);
}
.menu .fa-solid {
    display: none;
}

/* ------------css for small screen------------ */

@media only screen and (max-width: 600px){
    #header{
        background-image: url(/img/khalil.jpg);
    }
    #bgImg{
        max-width: 100%;
        height: auto;
        display: block;
        position: absolute;
        margin: 20px auto;
    }
    
    .menu .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: var(--text-dark);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-times {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
        margin-left: 20px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
        margin-left: 20px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
        margin-left: 40px;
    }
    .copyright{
        font-size: 12px;
    }
}



