* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  justify-content: center;
  align-content: center;
  background: crimson;
}
.container {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
.btn {
  border: none;
  padding: 1rem 4rem;
  background: darkblue;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
.btn:before{
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: -10px;
  top: -10px;
  /* background: turquoise; */
  border-top: 4px solid darkblue;
  border-left: 4px solid darkblue;
  transition: all 0.25s;
  border-radius: 5px;


}
.btn:hover::before,
.btn:hover::after{
  height: 100%;
  width: 100%;
}

.btn::after{
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -10px;
  right: -10px;
  border-bottom: 4px solid darkblue;
  border-right: 4px solid darkblue;
  transition: all 0.25s;
  border-radius: 5px;
}